{   
    # WordPress username or email. (Required)
    UN = your-wordpress-username
    
    # WordPress password. (Required)
    PW = your-wordpress-password
    
    # Set the pipeline you wish to test see pipelines.js for possible values. (Required)
    PIPELINE=sand

    # Uncomment to run scripts in debug mode. (Optional)
    # PWDEBUG = 1
    
    # Override timeout for checking for the headless/viewing url in miliseconds. (Optional)
    # TIMEOUT=600000

}
