{
    UN = your-wordpress-username
    PW = your-wordpress-password
    # PWDEBUG = 1

    # See pipelines.js for possible values. 
    PIPELINE=sand
    # PIPELINE=cannabis_test
    
    # Override default timeout (300000) in miliseconds.
    TIMEOUT=600000

}
